
<%- include("./includes/header.ejs", {title: title}); %>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        You have successfully logged in. %>
    </div>
</div>
<% }%>

<style>
    .navbar{
        display: none;
    }
</style>
<div class="container">

    <h1>Welcome to the Public Prison's System</h1>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <a href="/prisons/all">Prisons - View All</a><br />
    <a href="/sectors/all">Sectors - View All</a><br />
    <a href="/prisoner/all">Prisoners - View All</a><br />
    <a href="/admins/all">Administrators - View All</a><br />
    <a href="/guard/all">Guards - View All</a><br />
    <a href="/adminsRank/all">Ranks - View All</a><br />
    <a href="/about">About</a><br />
<br /><br />
    <a href="/login/home">Login</a>


<%- include("./includes/footer.ejs"); %>
</div>

