<%- include("./includes/header.ejs", {title:"login - register", user_name: "none"}); %>

<style>
    .navbar{
        display: none;
    }
</style>
<div class="container">

    <h1>Welcome to the Public Prison's System</h1>

    <form action="/login/insert" method="get">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input name="first_name" type="text" class="form-control" id="inputEmail4" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="inputPassword4" placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">User Name</label>
                <input name="user_name" type="text" class="form-control" id="inputPassword4" placeholder="User Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input name="user_password" type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <a class="btn btn-primary" href="/login/login">Log In</a>
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

<!--
<div class="container">

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <a href="/prisons/all">Prisons - View All</a><br />
    <a href="/sectors/all">Sectors - View All</a><br />
    <a href="/prisoner/all">Prisoners - View All</a><br />
    <a href="/admins/all">Administrators - View All</a><br />
    <a href="/guard/all">Guards - View All</a><br />
    <a href="/adminsRank/all">Ranks - View All</a>
<br /><br />
    <a href="/login/home">Login</a>


<%- include("./includes/footer.ejs"); %>
</div>

-->