<%- include("../includes/header.ejs", {title:"Update " + guardRank.rank_name, user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Update <%= guardRank.rank_name%></h1>
    <% if(locals.was_successful) { %>
    <div class="row">
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                <%= guardRank.rank_name %> was successfully saved. %>
            </div>
        </div>
    </div>
    <% }%>

    <form action="/guardRank/update" method="get">
        <input type="hidden" id="rank_id" name="rank_id" value="<%= guardRank.rank_id %>">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Rank Name</label>
                <input class="form-control" id="rank_name" name="rank_name" type="text" value="<%= guardRank.rank_name%>"/><br />
            </div>
        </div>

        <br />
        <br />

        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>