<%- include("../includes/header.ejs", {title:"Rank", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1><%= rank.rank_name %></h1>


    Guards who are <%= rank.rank_name %>:<br /><br />


    <table class="table table-striped" style="max-width: 300px;">
        <thead><tr><th>&nbsp;First Name&nbsp;</th><th>&nbsp;Last Name&nbsp;</th></tr></thead>
        <tbody>
        <% for(var i=0; guard.length > i; i++ ) { %>
        <tr>
            <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].first_name %></a>&nbsp;&nbsp;</td>
            <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].last_name %></a>&nbsp;&nbsp;</td>

        </tr>
        <% } %>
        </tbody>
    </table>




    <br />


    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>

<%- include("../includes/footer.ejs"); %>