<%- include("../includes/header.ejs", {title:"login - login", user_name: "none"}); %>

<style>
    .navbar{
        display: none;
    }
</style>

<% if(locals.was_successful) { %>
<div class="row">
    <div class="col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Logout successful %>
        </div>
    </div>
</div>
<% }%>

<% if(locals.was_successful2) { %>
<div class="row">
    <div class="col-md-12">
        <div id="message" class="alert alert-danger col-md-4">
            Log in failed! %>
        </div>
    </div>
</div>
<% }%>

<div class="container" style="max-width: 35%;">
    <h1>Welcome Back!</h1>

    <form action="/login/verify" method="get">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input name="user_name" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="input-group">
                <input name="user_password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary" href="/">Register</a>
            </div>
            <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </form>
</div>

<%- include("../includes/footer.ejs"); %>