<%- include("../includes/header.ejs", {title:"Prisoner", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <div class="card" style="max-width: 600px;">
        <h4 class="card-header"><%= prisoner.last_name %></h4>
        <div class="card-body">
            <h4 class="card-title"><%= prisoner.last_name%>, <%= prisoner.first_name %></h4>
            <p class="card-text">
                Institution:&nbsp;<%= prisons[0].prisons_name %><br />
                Sector Name:&nbsp;<%= prisons[0].sectors_name %><br />
                Address:&nbsp;<%= prisons[0].street %> <%= prisons[0].zip_code %><br /><br />
                Admit Date: <%= prisoner.admit_date %><br />
                Release Date: <%= prisoner.release_date %><br /><br />
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <table class="table table-striped">
                <thead><tr><th>Guard</th><th></th><th>Rank</th></tr></thead>
                <tbody>
                    <% for(var i=0; guard.length > i; i++ ) { %>
                    <tr>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].first_name %></a>&nbsp;&nbsp;</td>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].last_name %></a>&nbsp;&nbsp;</td>
                        <td style="min-width:100px">&nbsp;&nbsp;<%= guard[i].rank_name %>&nbsp;&nbsp;</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>