<%- include("../includes/header.ejs", {title:"Update " + prisoner.first_name, user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">



    <h1>Update <%= prisoner.last_name%>, <%= prisoner.first_name%></h1>
    <% if(locals.was_successful) { %>
    <div class="row">
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                <%= prisoner.first_name %> was successfully saved. %>
            </div>
        </div>
    </div>
    <% }%>


        <form action="/prisoner/update" method="get">
            <input type="hidden" id="prisoner_id" name="prisoner_id" value="<%= prisoner.prisoner_id %>">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">First Name</label>
                    <input name="first_name" type="text" class="form-control" id="validationDefault01" value="<%= prisoner.first_name%>" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">Last Name</label>
                    <input name="last_name" type="text" class="form-control" id="validationDefault01" value="<%= prisoner.last_name%>" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Admit Date: <%= prisoner.admit_date %></label>
                    <input name="admit_date" type="date" class="form-control" id="validationDefault01" value="<%= prisoner.admit_date %>" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">Release Date: <%= prisoner.release_date %></label>
                    <input name="release_date" type="date" class="form-control" id="validationDefault01" value="<%= prisoner.release_date%>" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">Location</label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sectors_id" name="sectors_id">
                        <% for(var i=0; sectors.length > i; i++ ) {
                            var selected = "";

                            if(sectors[i].prisoner_id != null) {
                                selected = "selected";
                            }
                        %>
                        <option value="<%= sectors[i].sectors_id %>" <%= selected %> ><%= sectors[i].prisons_name %>:&nbsp;<%= sectors[i].sectors_name %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>
