<%- include("../includes/header.ejs", {title:"Prisons", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">
    <div class="card" style="max-width: 400px;">
        <h4 class="card-header"><%= prisons.prisons_name %></h4>
        <div class="card-body">
            <h4 class="card-title">Address:</h4>
            <p class="card-text">
                <%= prisons.street %>&nbsp; <%= prisons.zip_code %>
            <br />
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
        </div>
    </div>
</div>


<%- include("../includes/footer.ejs"); %>