<%- include("../includes/header.ejs", {title:"Prison - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Prisons </h1>
    <a class="btn btn-primary" href="/prisons/add">Add New Prison</a> <br />

    <br />

    <table class="table table-striped" style="max-width: 400px;">
        <thead><tr><th>Prison Name</th><th>Actions</th></tr></thead>
        <tbody>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/prisons/?prisons_id=<%= result[i].prisons_id %>">&nbsp;<%= result[i].prisons_name %>&nbsp;</a></td>
                <td>
                    <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/prisons/edit/?prisons_id=<%= result[i].prisons_id %>'">Edit</button>
                    <form action="/prisons/delete/" style="display:inline;">
                        <input type="hidden" name="prisons_id" id="prisons_id" value="<%= result[i].prisons_id %>" />
                        <input class="btn btn-primary" type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <br /><br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>