<%- include("../includes/header.ejs", {title:"Add New Prison", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Add New Prison</h1>
    <form action="/prisons/insert" method="get" style="max-width: 500px;">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Prison Name</label>
                <input name="prisons_name" type="text" class="form-control" id="validationDefault01" placeholder="Prison Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Street Name</label>
                <input name="street" type="text" class="form-control" id="validationDefault01" placeholder="Street Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Zip Code</label>
                <input name="zip_code" type="number" class="form-control" id="validationDefault01" placeholder="Zip Code" required>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>