<%- include("../includes/header.ejs", {title:"Update " + admins.first_name, user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

<h1>Update <%= admins.first_name%> <%= admins.last_name%></h1>
<% if(locals.was_successful) { %>
    <div class="row">
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                <%= admins.first_name %> was successfully saved. %>
            </div>
        </div>
    </div>
<% }%>

    <form action="/admins/update" method="get">
        <input type="hidden" id="admins_id" name="admins_id" value="<%= admins.admins_id %>">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">First Name</label>
                <input name="first_name" type="text" class="form-control" id="validationDefault01" value="<%= admins.first_name%>" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="validationDefault01" value="<%= admins.last_name%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Email Address</label>
                <input name="email" type="email" class="form-control" id="validationDefault01" value="<%= admins.email%>" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Phone Number</label>
                <input name="phone_no" type="tel" class="form-control" id="validationDefault01" value="<%= admins.phone_no%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-addon">Salary $</span>
                    <input name="salary" type="number" class="form-control" value="<%= admins.salary%>" required>
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Position</label><br />
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="rank_id" name="rank_id">
                    <% for(var i=0; rank.length > i; i++ ) {
                        var selected = "";

                        if(rank[i].admins_id != null) {
                            selected = "selected";
                        }
                    %>
                    <option value="<%= rank[i].rank_id %>"<%= selected %>><%= rank[i].rank_name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <%- include("../includes/footer.ejs"); %>
</div>

<!--
<form action="/admins/update" method="get">
    <input type="hidden" id="admins_id" name="admins_id" value="<%= admins.admins_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= admins.first_name%>"/><br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= admins.last_name%>" /><br /><br />
    Email: <input id="email" name="email" type="email" value="<%= admins.email%>" /><br />
    Phone Number: <input id="phone_no" name="phone_no" value="<%= admins.phone_no%>" type="tel" /><br />

    <br />
    <br />

    Position <br />
    <select id="rank_id" name="rank_id">
        <% for(var i=0; rank.length > i; i++ ) {
            var selected = "";

            if(rank[i].admins_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= rank[i].rank_id %>"<%= selected %>><%= rank[i].rank_name %></option>
        <% } %>
    </select>
    Salary: <input id="salary" name="salary" type="number" value="<%= admins.salary%>" />

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>
-->