<%- include("../includes/header.ejs", {title:"Guard", user_name: user[0].first_name + " " + user[0].last_name}); %>


<div class="container">
    <div class="card" style="max-width: 400px;">
        <h4 class="card-header"><%= guard.last_name %>,&nbsp;<%= guard.first_name %></h4>
        <div class="card-body">
            <h4 class="card-title"><%= rank.rank_name %></h4>
            <p class="card-text">
                Email:&nbsp;<a href="mailto:<%= guard.email %>"><%= guard.email %></a><br />
                Phone Number:&nbsp;<a href="tel:<%= guard.phone_no %>"><%= guard.phone_no %></a><br />
                <br />
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault05">Institution(s)</label><br />
            <% for(var i=0; prisons.length > i; i++ ) { %>
            <li><a href="/prisons/?prisons_id=<%= prisons[i].prisons_id %>"><%= prisons[i].prisons_name %>: <%= prisons[i].sectors_name %></a>
                ,&nbsp;<%= prisons[i].street %>&nbsp;<%= prisons[i].zip_code %></li>
            <% } %>
        </div>
    </div>

    <br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>

<%- include("../includes/footer.ejs"); %>