<%- include("../includes/header.ejs", {title:"Guard - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Guards</h1>
    <a class="btn btn-primary" href="/guard/add">Add New Guard</a> <br />

    <br />

    <table class="table table-striped" style="max-width: 600px;">
        <thead><tr><th>Last Name</th><th>First Name</th><th>Actions</th></tr></thead>
        <tbody>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= result[i].guard_id %>"><%= result[i].last_name %></a>&nbsp;&nbsp;</td>
                <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= result[i].guard_id %>"><%= result[i].first_name %></a>&nbsp;&nbsp;</td>
                <td>
                    <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/guard/edit/?guard_id=<%= result[i].guard_id %>'">Edit</button>
                    <form action="/guard/delete/" style="display:inline;">
                        <input type="hidden" name="guard_id" id="guard_id" value="<%= result[i].guard_id %>" />
                        <input class="btn btn-primary" type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>