<%- include("../includes/header.ejs", {title:"Add New Guard"}); %>
<h1>Add New Guard</h1>
<form action="/guard/insert" method="get">
    First Name: <input id="first_name" name="first_name" type="text" /><br />
    Last Name: <input id="last_name" name="last_name" type="text" /><br />
    Phone Number: <input id="phone_no" name="phone_no" type="tel" /><br />
    Email Address: <input id="email" name="email" type="email" /><br /><br />
    Rank:
    <select id="rank_id" name="rank_id">
        <% for(var i=0; rank.length > i; i++ ) { %>
        <option value="<%= rank[i].rank_id %>"><%= rank[i].rank_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    Sector
    <br />
    <select id="sectors_id" name="sectors_id" multiple="multiple">
        <% for(var i=0; sectors.length > i; i++ ) { %>
        <option value="<%= sectors[i].sectors_id %>"><%= prisons[i].prisons_name + ', ' + sectors[i].sectors_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sectors_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>