<%- include("../includes/header.ejs", {title:"Add New Sector", user_name: user[0].first_name + " " + user[0].last_name}); %>
<div class="container">
    <h1>Add New Sector</h1>
    <form action="/sectors/insert" method="get" style="max-width: 500px;">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Sector Name</label>
                <input name="sectors_name" type="text" class="form-control" id="validationDefault01" placeholder="Sector Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Institution</label>
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="prisons_id" name="prisons_id">
                        <% for(var i=0; prisons.length > i; i++ ) { %>
                            <option value="<%= prisons[i].prisons_id %>"><%= prisons[i].prisons_name %></option>
                        <% } %>
                    </select>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>