<%- include("../includes/header.ejs", {title:"Sector - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Sectors</h1>
            <a class="btn btn-primary" href="/sectors/add">Add New Sector</a> <br />

            <br />

        <table class="table table-striped" style="max-width: 600px;">
                <thead><tr><th>Sector Name</th><th>Prison Name</th><th>Actions</th></tr></thead>
                <tbody>
                    <% for(var i=0; result.length > i; i++ ) { %>
                    <tr>
                        <td>&nbsp;&nbsp;<a href="/sectors/?sectors_id=<%= result[i].sectors_id %>"><%= result[i].sectors_name %></a>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;<a href="/prisons/?prisons_id=<%= result[i].prisons_id %>"><%= result[i].prisons_name %></a>&nbsp;&nbsp;</td>
                        <td>
                            <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/sectors/edit/?sectors_id=<%= result[i].sectors_id %>'">Edit</button>
                            <form action="/sectors/delete/" style="display:inline;">
                                <input type="hidden" name="sectors_id" id="sectors_id" value="<%= result[i].sectors_id %>" />
                                <input class="btn btn-primary" type="submit" value="Delete"/>
                            </form>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
    <br />

    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>