<%- include("../includes/header.ejs", {title:"Sector - Update ", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Update <br /> <%= prisons[0].prisons_name %>: <%= sectors.sectors_name%></h1><br />
    <% if(locals.was_successful) { %>
    <div class="row">
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                <%= sectors.sectors_name %> was successfully saved. %>
            </div>
        </div>
    </div>
    <% }%>

    <form action="/sectors/update" method="get" style="max-width: 500px;">
        <input type="hidden" id="sectors_id" name="sectors_id" value="<%= sectors.sectors_id %>">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Sector Name</label>
                <input name="sectors_name" type="text" class="form-control" id="validationDefault01" value="<%= sectors.sectors_name%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Institution</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="prisons_id">
                    <% for(var i=0; prisons.length > i; i++ ) {
                        var selected = "";

                        if(prisons[i].sectors_id != null) {
                            selected = "selected";
                        }
                    %>
                    <option value="<%= prisons[i].prisons_id %>" <%= selected %> ><%= prisons[i].prisons_name %></option>
                    <% } %>
                </select>
            </div>
        </div>


        <br />

        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>

    </form>

    <%- include("../includes/footer.ejs"); %>
</div>