<%- include("../includes/header.ejs", {title:"Rank - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container" style="max-width: 75%">

    <h1>Ranks</h1>

    <br />
    <div class="row">
        <div class="col-md-6 mb-3">
            <a class="btn btn-primary" href="/guardRank/add">Add New Guard Rank</a> &nbsp;<br />
            <table class="table table-striped" style="max-width: 400px;">
                <thead><tr><th>&nbsp;Guard Rank Name&nbsp;</th><th>&nbsp;Actions&nbsp;</th></tr></thead>
                <tbody>
                    <% for(var i=0; guard.length > i; i++ ) { %>
                    <tr>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/guardRank/?rank_id=<%= guard[i].rank_id %>"><%= guard[i].rank_name %></a>&nbsp;&nbsp;</td>
                        <td>
                            <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/guardRank/edit/?rank_id=<%= guard[i].rank_id %>'">Edit</button>
                            <form action="/guardRank/delete/" style="display:inline;">
                                <input type="hidden" name="rank_id" id="rank_id" value="<%= guard[i].rank_id %>" />
                                <input class="btn btn-primary" type="submit" value="Delete"/>
                            </form>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 mb-3">
            <a class="btn btn-primary" href="/adminsRank/add">Add New Admin Rank</a> <br />
            <table class="table table-striped" style="max-width: 400px;">
                <thead><tr><th>&nbsp;Admin Rank Name&nbsp;</th><th>&nbsp;Actions</th></tr></thead>
                <tbody>
                    <% for(var i=0; admins.length > i; i++ ) { %>
                    <tr>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/adminsRank/?rank_id=<%= admins[i].rank_id %>"><%= admins[i].rank_name %></a>&nbsp;&nbsp;</td>
                        <td>
                            <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/adminsRank/edit/?rank_id=<%= admins[i].rank_id %>'">Edit</button>
                            <form action="/adminsRank/delete/" style="display:inline;">
                                <input type="hidden" name="rank_id" id="rank_id" value="<%= admins[i].rank_id %>" />
                                <input class="btn btn-primary" type="submit" value="Delete"/>
                            </form>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>